/* Corpo della pagina */
.root {
    -fx-background-color: linear-gradient(to bottom, #f4f4f4, #dcdcdc); /* Gradiente grigio chiaro */
    -fx-font-family: 'Roboto', sans-serif;
    -fx-alignment: center;
    -fx-padding: 0;
    -fx-max-height: Infinity;
}

/* Titolo principale */
#title {
    -fx-font-size: 36px;
    -fx-font-weight: bold;
    -fx-text-fill: #333333; /* Grigio scuro per il testo */
    -fx-padding: 20px;
}

/* Sottotitolo */
#subtitle {
    -fx-font-size: 18px;
    -fx-text-fill: #555555; /* Grigio medio */
    -fx-padding: 0 0 20px 0;
}

/* Pulsanti Generali */
.button {
    -fx-padding: 15px 30px;
    -fx-border-radius: 12px;
    -fx-background-radius: 12px;
    -fx-font-size: 18px;
    -fx-font-weight: bold;
    -fx-cursor: hand;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.1), 10, 0, 0, 5); /* Ombra leggera */
}

/* Pulsante Specialista */
#login {
    -fx-background-color: #cccccc; /* Grigio chiaro */
    -fx-border-color: #333333; /* Bordo grigio scuro */
    -fx-border-width: 2px;
    -fx-text-fill: #333333; /* Testo grigio scuro */
}
#login:hover {
    -fx-background-color: #b0b0b0; /* Grigio più scuro al passaggio del mouse */
}

/* Pulsante Paziente */
#registrazione {
    -fx-background-color: #eeeeee; /* Grigio molto chiaro */
    -fx-border-color: #333333;
    -fx-border-width: 2px;
    -fx-text-fill: #333333; /* Testo grigio scuro */
}
#registrazione:hover {
    -fx-background-color: #bdbdbd; /* Grigio medio al passaggio del mouse */
}

/* Pulsante Prenotazione Senza Registrazione */
#appointmentLink {
    -fx-background-color: #f5f5f5; /* Bianco sporco */
    -fx-border-color: #333333;
    -fx-border-width: 2px;
    -fx-text-fill: #333333; /* Testo grigio scuro */
    -fx-padding: 12px 25px;
    -fx-font-size: 14px;
    -fx-border-radius: 12px;
    -fx-background-radius: 12px;
    -fx-pref-width: 400px;
    -fx-max-width: 400px;
}
#appointmentLink:hover {
    -fx-background-color: #e0e0e0; /* Grigio chiaro al passaggio del mouse */
}

/* Contenitore principale */
#container {
    -fx-background-color: #ffffff; /* Bianco neutro */
    -fx-background-radius: 12px;
    -fx-padding: 30px;
    -fx-max-width: 600px;
    -fx-max-height: 600px;
    -fx-width: 70%;
    -fx-height: 70%;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.15), 15, 0, 0, 4); /* Ombra tenue */
    -fx-alignment: center;
    -fx-margin-bottom: 20px;
}
